.modal {
  position: absolute;
  top: 70px;
  right: 2%;
  background: #101e2c;
  padding: 20px;
  width: 20%;
  max-height: 350px;
  border-radius: 14px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  animation: __slideIn_mqd8f_1_1ocyi_1 0.25s ease-out;
  z-index: 9999;
}

.closeButton {
  position: absolute !important;
  top: 8px;
  right: 8px;
  color: white;
}

.closeButton:hover {
  cursor: pointer;
}
